// common classes
.flex-panel{
    display: flex;
}

.flex-v-center{
    align-items: center;
}

.flex-justify-between{
    justify-content: space-between;
}

.flex-justify-center{
    justify-content: center;
}

.container{
    width: 1200px;
    display: block;
    margin: auto;
}

.form-block{
    width: 500px;
    margin: auto;

    mat-form-field.mat-form-field{
        width: 100%;
    }
}

.mt-1{
    margin-top: 1.5rem;
}